# Cross Validation

1. La útlima palabra la tienen los datos.
2. Necesitamos la mentalidad de testeo
3. Todos los modelos son malos, solamente que
algunos resultan útiles.

## Tipos de validación

1. Dividir nuestros datos en Entrenamiento y Prueba
2. Usar Validación Cruzada (_K-Folds_)
3. Usar Validación Cruzada (LOOCV)

### _Hold Out_
1. Se requiere un prototipado rapido
2. No se tiene mnucho conocimiento
3. No se cuenta con una gran capacidad de cómputo

### _K-Folds CV_
1. Recomendable para la mayoría de casos
2. Se cuenta con equipo suficiente
3. Se requiere técnicas de integración con técnicas de optimización paramétrica.
4. Se dispone de más tiempo para las pruebas.

### _LOOCV_
1. Se tiene gran poder de cómputo.
2. Se cuenta con pocos datos para partirlos en _train/test_.
3. Quedarse completamente seguro de los resultados.

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import (
    cross_val_score, KFold
)

In [5]:
dataset = pd.read_csv("data/felicidad.csv")
X = dataset.drop(columns=['country','score'])
y = dataset['score']

In [13]:
model = DecisionTreeRegressor()
score = cross_val_score(model, X, y, scoring='neg_mean_squared_error')
print(score)
print(np.mean(score))

[-0.41830569 -0.07555685 -0.08361524 -0.07808105 -0.41045883]
-0.21320353008881437

In [22]:
dataset

,country,rank,score,high,low,gdp,family,lifexp,freedom,generosity,corruption,dystopia
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [29]:
from sklearn.metrics import mean_squared_error

In [30]:
kfold = KFold(n_splits=3, shuffle=True, random_state=42)
print("Train Test")
for train, test in kfold.split(dataset):
    X_train = X.iloc[train] 
    y_train = y.iloc[train]
    X_test = X.iloc[test]
    y_test = y.iloc[test]
    model.fit(X_train, y_train)
    print(mean_squared_error(model.predict(X_test), y_test))

Train Test
0.011377634699181393
0.014359390132419327
0.0048500389018226375